@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Libre Franklin', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Libre Franklin', sans-serif;
}

li:hover ul.dropdown {
    visibility: visible;
    opacity: 1;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}

.dropdown {
    transition: all 0.3s ease-out;
}

li:hover ul.dropdown2 {
    visibility: visible;
    opacity: 1;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}

.dropdown2 {
    transition: all 0.3s ease-out;
}

.shopeimage {
    z-index: 999;
    overflow: hidden;
    margin-left: 0px;
    margin-top: 0px;
    background-position: -59px -69.438px;
    width: 451px;
    height: 530.578px;
    float: left;
    cursor: crosshair;
    background-repeat: no-repeat;
    position: absolute;
    /* background-image: url(/assits/images/shopebig.webp); */
    top: 0px;
    left: 0px;

    unicode-bidi: isolate;

}

.shop:hover .shop-text {
    color: rgb(255, 106, 40);
}

.shop:hover .circle {
    background-color: rgb(255, 106, 40);
    color: white;
}

.product-catagory:hover h3 {
    color: #ff6a28;
    transition: 0.2s;
}

.product-catagory:hover .circle {
    color: white;
    transition: 0.2s;
    background-color: #ff6a28;
}

.grid.flex.w-\[100\%\].h-\[60px\].border.px-\[15px\].mt-\[16px\].flex.items-center.justify-between {
    display: flex;
}



ul.ant-pagination.css-dev-only-do-not-override-98ntnt {
    display: flex;
    width: 100%;
    border: 1px solid #dbdada;
    justify-content: center;
    padding: 7px;
}
li:hover ul.dropdown {
    visibility: visible;
    opacity: 1;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}

li:hover .dropdown2 {
    visibility: visible;
    opacity: 1;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}

.dropdown {
    transition: all 0.3s ease-out;
}

.dropdown2 {
    transition: all 0.3s ease-out;
}







.shop:hover .shop-text {
    color: rgb(255, 106, 40);
}

li:hover .dropdown2 {
    visibility: visible;
    opacity: 1;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}

.dropdown {
    transition: all 0.3s ease-out;
}

.shop:hover .circle {
    background-color: rgb(255, 106, 40);
    color: white;
}

.dropdown2 {
    transition: all 0.3s ease-out;
}

.product-catagory:hover h3 {
    color: #ff6a28;
    transition: 0.2s;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    .product-catagory:hover .circle {
        color: white;
        transition: 0.2s;
        background-color: #ff6a28;
    }

    .grid.flex.w-\[100\%\].h-\[60px\].border.px-\[15px\].mt-\[16px\].flex.items-center.justify-between {
        display: flex;
    }



    ul.ant-pagination.css-dev-only-do-not-override-98ntnt {
        display: flex;
        width: 100%;
        border: 1px solid #dbdada;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    padding: 7px;
}

.outer-product:hover .orange-ng {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s;
}

.orange-ng {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s 0.3s;
    /* visibility delay ensures it changes after opacity */
}